body {
    margin: 0;
}

html {
    font-size: 18px;
}

.top-line {
    height: 20px;
    background: #dddddd;
}

.header, .main, .footer {
    min-width: 320px;
}

.header__top-bar {
    background: #eeeeee;
    color: #c60304;
    padding: 0 15px;
}

.header__top-bar-inner {
    line-height: 55px;
    max-width: 1100px;
    margin: 0 auto;
}

.main-logo {
    float: left;
    font-size: 2rem;
}

.logo {
    float: right;
}

.header__center-bar {
    background: #c60304;
}

.header__center-bar-inner {
    max-width: 1100px;
    margin: 0 auto;
}

.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: none;
}

.menu-label:after {
    content: "Menu";
    font-size: 1.1rem;
    color: white;
    display: inline-block;
    cursor: pointer;
    padding: 15px 25px;
}

.hidden-menu {
    display: none;
}

.hidden-menu:checked ~ .menu {
    display: block;
}

.hidden-menu:checked + .menu-label:after {
    content: "Close"
}

@media screen and (min-width: 768px) {
    .menu-label {
        display: none;
    }

    .menu {
        display: flex !important;
    }
}

.menu__item a {
    display: block;
    padding: 15px 25px;
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

.menu__item a:hover {
    background: #7d0202;
}

.menu__item--active {
    background: #7d0202;
}

.header__bottom-bar {
    background: #eeeeee;
}

.header__bottom-bar-inner {
    max-width: 1100px;
    margin: 0 auto;
    line-height: 40px;
    padding-right: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom-menu {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.bottom-menu__item {
    flex: 0 0 100%;
}

.bottom-menu__item a {
    color: #666666;
    display: block;
    padding: 0 15px;
}

@media screen and (min-width: 768px) {
    .bottom-menu__item {
        flex: 0 0 auto;
    }
}

.login-in {
    font-size: 0.9rem;
    padding-left: 15px;
}

.main {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.main p {
    text-align: justify;
}

.main-inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}



.content {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.sidebar {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 0.9rem;
}

@media screen and (min-width: 768px) {
    .content {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .sidebar {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.content-image img {
    width: 100%;
    height: auto;
}

.footer {
    background: #eeeeee;
    color: #666666;
    padding: 0 15px;
    box-sizing: border-box;
}

.footer__content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

.left-menu {
    margin-top: 20px;
    padding: 0 20px 0 0;
    box-sizing: border-box;
    list-style-type: none;
    flex: 0 0 100%;
    max-width: 100%;
    font-size: 0.9rem;
    order: 2;
    text-align: center;
}

.left-menu__item:not(:last-child) {
    margin-bottom: 10px;
}

.left-menu__item a:hover {
    text-decoration: underline;
}

.left-menu a {
    color: #666666;
    text-decoration: none;
}

.footer__main {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    font-size: 0.9rem;
}

@media screen and (min-width: 768px) {
    .left-menu {
        flex: 0 0 20%;
        max-width: 20%;
        order: 0;
    }

    .footer__main {
        flex: 0 0 80%;
        max-width: 80%;
    }
}

.footer__main p {
    margin: 0px;
}

.footer__main h3 {
    margin-top: 0;
}

.clearfix {
    clear: both;
}

