body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
    font-family: sans-serif;
}

.header-inner , .contacts-inner, .clients-inner, .top-content-inner, .bottom-content {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0px;
}

.header, .top-content, .contacts, .bottom-content, .clients, .footer {
    min-width: 320px;
    padding: 0 10px;
    box-sizing: border-box;
}

.header-inner {
    color: white;
}

.header {
    background: #008040;
    font-size: 1.1rem;
}

.header-inner p, .contacts-inner p {
    margin: 10px 0 0 0;
}

.header-inner h1 {
    margin: 0;
}

.top-content h2, .bottom-content h2, .clients h2 {
    text-align: center;
    font-size: 1.8rem;
}

.top-content-inner ol {
    padding: 0;
    margin: 0;
}

.top-content-inner {
    text-align: left;
}

.top-content-inner ol li {
    list-style-position: inside;
    margin-bottom: 10px;
    color: red;
}

.top-content-inner ol li span {
    color: black;
}

.contacts {
    background: #c60304;
    color: white;
}

.contacts-inner h2, .clients h2 {
    margin-top: 0;
}

.bottom-content {
    text-align: justify;
}

.clients {
    background: #ff8040;
    padding-top: 10px;
}

.clients-inner {
    font-size: 0;
}

.client-block {
    width: 100%;
    display: inline-block;
    padding: 0 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.container {
    margin: 0 -5px;
}

@media screen and (min-width: 480px) {
    .client-block {
        width: 50%;
    }
}

@media screen and (min-width: 768px) {
    .client-block {
        width: 25%;
    }
}

.client-block img {
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.footer {
    background: #912f00;
    text-align: center;
    padding: 150px 0 10px 0;
    color: white;
    font-size: 0.8rem;
}