body {
    margin: 0;
    font-size: 18px;
    background: #b17e4f;
    font-family: sans-serif;
    padding-bottom: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h2 {
    color: #b17e4f;
}

.header, .wrapper {
    min-width: 320px;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 0 0 20px 0;
    box-sizing: border-box; 
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
}

.header__logo {
    margin: 0;
    color: white;
    font-size: 2.5rem;
    flex: 0 0 100%;
    max-width: 100%;
}

.header__info {
    color: #CEB6A4;
    font-size: 0.95rem;
    flex: 0 0 100%;
    max-width: 100%;
}

@media screen and (min-width: 768px) {

    .header {
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 60px 20px 60px;
    }

    .header__logo, .header__info {
        flex: 0 0 auto;
    }
}

.nav {
    background: #000000;
    margin-bottom: 20px;
}

.menu {
    height: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    transition: height .5s;
}

.menu__item {
    flex: 0 0 100%;
}

.menu__item a {
    padding: 20px 35px;
    display: block;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.menu__item a:hover {
    background: #1b3039;
}

.burger-menu {
    width: 30px;
    padding: 20px 0;
    margin-left: 20px;
    cursor: pointer;
}

.burger-menu hr {
    margin-bottom: -2px;
}

.burger-menu hr:first-child {
    margin-top: 0;
}

.first-active {
    transform-origin: left;
    transform: rotate(45deg);
    transition: transform .5s;
}

.second-active {
    opacity: 0;
    transition: opacity .5s;
}

.third-active {
    transform-origin: left;
    transform: rotate(-45deg);
    transition: transform .5s;
    margin-top: 12px;
}

@media screen and (min-width: 768px) {
    .burger-menu {
        display: none;
    }

    .menu {
        height: auto !important;
    }

    .menu__item {
        flex: 1;
    }
}

.image-container img {
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
}

.main {
    flex: 0 0 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 25px;
}

.aside {
    flex: 0 0 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 25px;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 480px) {
    .aside {
        padding: 0 10px;
    }
}

@media screen and (min-width: 768px) {
    .main {
        flex: 0 0 60%;
        max-width: 63%;
    }

    .aside {
        flex: 0 0 40%;
        max-width: 40%;
        padding: 0 25px;
    }
}

.main p {
    text-align: justify;
    font-size: 0.95rem;
    margin-bottom: 30px;
}

.main h2 {
    margin: 0;
    font-size: 2.1rem;
}

.data {
    margin-top: 0;
}

.data a {
    color: #96AE3E;
}

.block-wrapper {
    box-sizing: border-box;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
}

.block {
    background: #e8e6de;
    padding: 15px;
    box-sizing: border-box;
    min-height: 100%;
}

@media screen and (min-width: 480px) {
    .block-wrapper {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 15px;
    }
}


@media screen and (min-width: 768px) {
    .block-wrapper {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.block__header {
    background: #5d9ebd;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
}

.block a {
    color: #96AE3E;
    font-size: 0.95rem;
}

.block ul li {
    border-bottom: 1px solid black;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

.block ul li a {
    display: block;
}

.block--second p {
    line-height: 30px;
    font-size: 0.95rem;
    text-align: justify;
}

.footer {
    text-align: center;
    padding: 40px 0;
    line-height: 20px;
    background: #d1e4a7;
    font-size: 0.95rem;
}

.footer a {
    color: #96AE3E;
}